{% extends 'base.html.twig' %}

{% block title %}Tous vos users{% endblock %}
{% block body %}
<div id="result">
    <p>
        <span id="call_js"></span>
    </p>
</div>
<script TYPE="text/javascript">
        
    var result = $( "div#result");
    result.hide();     
    $.ajax( {
        type: "GET",
        url: 'user_js',
        success: function( response ) {
            $('#call_js').html( response ); //Affichage de l'url cible, ici AjaxTemplate02.php, dans une DIV
            result.show();
        },
        error: function( response ) {
            $('#status').text('Erreur pour poster le formulaire : '+ response.status + " " + response.statusText);
            result.show();
            console.log( response );
        }
    } );
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock %}